@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

h1,
h3 {
  color: white;
  font-size: 2em;
}

a {
  text-decoration: none;
}

.hero {
  background-image: url("../img/book1.jpeg");
  background-size: cover;
  background-position: center;
  height: 420px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.button {
  border: 2px solid white;
  border-radius: none;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  display: inline-block;
}

.button:hover {
  text-decoration: none;
  color: white;
}

.card-container {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  min-height: 300px;
  width: 230px;
  border: 1px solid darkgray;
  border-radius: 3px;
  margin: 10px;
  padding: 0.5rem;
}

.card__content {
  display: flex;
  flex-wrap: wrap;
}

.book__title {
  width: 30%;
}
/*** Modal Section Styles ***/

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 600px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  position: fixed;
  overflow: hidden;
}

.modal-content .title {
  color: #000;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal-content button {
  width: 6rem;
}
